.product {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.image {
  width: 100px;
}

.name {
  width: 150px;
}

.price {
  width: 70px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  width: 120px;
  border: 1px solid lightgray;
  height: 40px;
  padding: 4px;
  border-radius: 20px;
}

.total {
  width: 70px;
}

.button {
  width: 30px;
  height: 30px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7; 
}

.button:active {
  padding: 1px;
}